In [22]:
import pandas as pd

In [23]:

try:
    counties_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
    states_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
    county_data = pd.read_csv(counties_url,dtype={"fips": str})
    state_data = pd.read_csv(states_url,dtype={"fips": str})
    print("Received latest NYT Data")
except:
    county_data = pd.read_csv('data/data/us-counties.csv',dtype={"fips": str})
    state_data = pd.read_csv('data/data/us-states.csv',dtype={"fips": str})
    print("Could not get latest NYT Data, falling back to local 4-3-20 data")

Received latest NYT Data

In [29]:
states = state_data.state.unique()

print(states)
print(len(states))

fig = make_subplots(rows = 11, cols = 5)

for i,each in enumerate(states):
    plus = i + 1
    row = i // 5 + 1
    col = i % 5 + 1
    print(plus)
    print("row {}, col {}".format(row,col))

['Washington' 'Illinois' 'California' 'Arizona' 'Massachusetts'
 'Wisconsin' 'Texas' 'Nebraska' 'Utah' 'Oregon' 'Florida' 'New York'
 'Rhode Island' 'Georgia' 'New Hampshire' 'North Carolina' 'New Jersey'
 'Colorado' 'Maryland' 'Nevada' 'Tennessee' 'Hawaii' 'Indiana' 'Kentucky'
 'Minnesota' 'Oklahoma' 'Pennsylvania' 'South Carolina'
 'District of Columbia' 'Kansas' 'Missouri' 'Vermont' 'Virginia'
 'Connecticut' 'Iowa' 'Louisiana' 'Ohio' 'Michigan' 'South Dakota'
 'Arkansas' 'Delaware' 'Mississippi' 'New Mexico' 'North Dakota' 'Wyoming'
 'Alaska' 'Maine' 'Alabama' 'Idaho' 'Montana' 'Puerto Rico'
 'Virgin Islands' 'Guam' 'West Virginia' 'Northern Mariana Islands']
55
1
row 1, col 1
2
row 1, col 2
3
row 1, col 3
4
row 1, col 4
5
row 1, col 5
6
row 2, col 1
7
row 2, col 2
8
row 2, col 3
9
row 2, col 4
10
row 2, col 5
11
row 3, col 1
12
row 3, col 2
13
row 3, col 3
14
row 3, col 4
15
row 3, col 5
16
row 4, col 1
17
row 4, col 2
18
row 4, col 3
19
row 4, col 4
20
row 4, col 5
21
row 5, col 1
22
row 5, col 2
23
row 5, col 3
24
row 5, col 4
25
row 5, col 5
26
row 6, col 1
27
row 6, col 2
28
row 6, col 3
29
row 6, col 4
30
row 6, col 5
31
row 7, col 1
32
row 7, col 2
33
row 7, col 3
34
row 7, col 4
35
row 7, col 5
36
row 8, col 1
37
row 8, col 2
38
row 8, col 3
39
row 8, col 4
40
row 8, col 5
41
row 9, col 1
42
row 9, col 2
43
row 9, col 3
44
row 9, col 4
45
row 9, col 5
46
row 10, col 1
47
row 10, col 2
48
row 10, col 3
49
row 10, col 4
50
row 10, col 5
51
row 11, col 1
52
row 11, col 2
53
row 11, col 3
54
row 11, col 4
55
row 11, col 5

In [28]:
4 // 5

0

In [35]:
test = state_data[state_data.state== "California"]

In [40]:
days = 7

In [41]:
test.iloc[-days:,:]

            date       state fips   cases  deaths
7333  2020-07-14  California   06  346593    7227
7388  2020-07-15  California   06  355497    7368
7443  2020-07-16  California   06  364761    7490
7498  2020-07-17  California   06  374922    7607
7553  2020-07-18  California   06  383194    7697
7608  2020-07-19  California   06  391460    7710
7663  2020-07-20  California   06  400195    7764