In [2]:
import pandas as pd

In [3]:

try:
    counties_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
    states_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
    county_data = pd.read_csv(counties_url,dtype={"fips": str})
    state_data = pd.read_csv(states_url,dtype={"fips": str})
    print("Received latest NYT Data")
except:
    county_data = pd.read_csv('data/data/us-counties.csv',dtype={"fips": str})
    state_data = pd.read_csv('data/data/us-states.csv',dtype={"fips": str})
    print("Could not get latest NYT Data, falling back to local 4-3-20 data")

Received latest NYT Data

In [ ]:
states = state_data.state.unique()

print(states)
print(len(states))

fig = make_subplots(rows = 11, cols = 5)

for i,each in enumerate(states):
    plus = i + 1
    row = i // 5 + 1
    col = i % 5 + 1
    print(plus)
    print("row {}, col {}".format(row,col))

In [4]:
test = state_data[state_data.state== "California"]

In [7]:
days = 8

In [8]:
test.iloc[-days:,:]

            date       state fips   cases  deaths
7663  2020-07-20  California   06  400195    7764
7718  2020-07-21  California   06  410366    7883
7773  2020-07-22  California   06  422528    8038
7828  2020-07-23  California   06  433175    8190
7883  2020-07-24  California   06  443096    8325
7938  2020-07-25  California   06  453327    8428
7993  2020-07-26  California   06  459338    8451
8048  2020-07-27  California   06  467056    8544

In [61]:
def last_week_today(state,days):
    days = days + 2
    data = state_data[state_data.state == state].iloc[-days:,:]
    data['diff'] = data.cases.diff()
    data['rate'] = data['diff'].diff()
    data['plusminus'] = data['rate'].apply(lambda x: 1 if x > 0 else -1)
    data = data.iloc[-(days-2):,:]
    total = data.plusminus.sum()
    
    return total

In [62]:
last_week_today('California',3)

1

In [64]:
last_week_today('Florida',3)

-3

In [65]:
gradient = ['920101','A43904','B67B09','C8C70F','99DA15','63EC1C','26FE24']

In [66]:
gradient = {-3:'920101',
            -2:'A43904',
            -1:'B67B09',
            0:'C8C70F',
            1:'99DA15',
            2:'63EC1C',
            3:'63EC1C',
           }

In [67]:
gradient[0]

'C8C70F'