In [2]:
import pandas as pd

In [3]:

try:
    counties_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
    states_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
    county_data = pd.read_csv(counties_url,dtype={"fips": str})
    state_data = pd.read_csv(states_url,dtype={"fips": str})
    print("Received latest NYT Data")
except:
    county_data = pd.read_csv('data/data/us-counties.csv',dtype={"fips": str})
    state_data = pd.read_csv('data/data/us-states.csv',dtype={"fips": str})
    print("Could not get latest NYT Data, falling back to local 4-3-20 data")

Received latest NYT Data

In [ ]:
states = state_data.state.unique()

print(states)
print(len(states))

fig = make_subplots(rows = 11, cols = 5)

for i,each in enumerate(states):
    plus = i + 1
    row = i // 5 + 1
    col = i % 5 + 1
    print(plus)
    print("row {}, col {}".format(row,col))

In [4]:
test = state_data[state_data.state== "California"]

In [7]:
days = 8

In [8]:
test.iloc[-days:,:]

            date       state fips   cases  deaths
7663  2020-07-20  California   06  400195    7764
7718  2020-07-21  California   06  410366    7883
7773  2020-07-22  California   06  422528    8038
7828  2020-07-23  California   06  433175    8190
7883  2020-07-24  California   06  443096    8325
7938  2020-07-25  California   06  453327    8428
7993  2020-07-26  California   06  459338    8451
8048  2020-07-27  California   06  467056    8544

In [38]:
def last_week_today(state):
    days = 9
    data = state_data[state_data.state == state].iloc[-days:,:]
    data['diff'] = data.cases.diff()
    data['rate'] = data['diff'].diff()
    data['plusminus'] = data['rate'].apply(lambda x: 1 if x > 0 else 0)
    data = data.iloc[-(days-2):,:]
    return data

In [39]:
last_week_today('California')

            date       state fips   cases  deaths     diff    rate  plusminus
7718  2020-07-21  California   06  410366    7883  10171.0  1436.0          1
7773  2020-07-22  California   06  422528    8038  12162.0  1991.0          1
7828  2020-07-23  California   06  433175    8190  10647.0 -1515.0          0
7883  2020-07-24  California   06  443096    8325   9921.0  -726.0          0
7938  2020-07-25  California   06  453327    8428  10231.0   310.0          1
7993  2020-07-26  California   06  459338    8451   6011.0 -4220.0          0
8048  2020-07-27  California   06  467056    8544   7718.0  1707.0          1

In [40]:
last_week_today('Florida')

            date    state fips   cases  deaths     diff    rate  plusminus
7723  2020-07-21  Florida   12  369826    5205   9440.0  -907.0          0
7778  2020-07-22  Florida   12  379611    5344   9785.0   345.0          1
7833  2020-07-23  Florida   12  389860    5517  10249.0   464.0          1
7888  2020-07-24  Florida   12  402304    5652  12444.0  2195.0          1
7943  2020-07-25  Florida   12  414503    5776  12199.0  -245.0          0
7998  2020-07-26  Florida   12  423847    5853   9344.0 -2855.0          0
8053  2020-07-27  Florida   12  432739    5930   8892.0  -452.0          0