In [92]:
import pandas as pd

from datetime import datetime, timedelta
import json
geo_json_path = 'data/geo_data/geojson-counties-fips.json'
with open(geo_json_path,'r') as response:
    counties = json.load(response)

In [121]:
counties_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
states_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
county_data = pd.read_csv(counties_url,dtype={"fips": str})
state_data = pd.read_csv(states_url,dtype={"fips": str})
print("Received latest NYT Data")

Received latest NYT Data

In [122]:
blank = county_data[county_data.county == "New York City"].copy()

burrs = [36061, 36047, 36081, 36005, 36085]
nyc_pop = 8400000
for each in burrs:
    test = blank.copy()
    test.fips = each
    test.cases = test.cases.apply(lambda x: int(x/5))
    test.deaths = test.deaths.apply(lambda x: int(x/5))
    
    county_data = county_data.append(test)

In [99]:
county_data[county_data.county == "New York City"].query("date=={}".format("'" + latestDate + "'"))

              date         county     state   fips   cases  deaths
352207  2020-07-20  New York City  New York    NaN  226388   22882
352207  2020-07-20  New York City  New York  36061  226388   22882
352207  2020-07-20  New York City  New York  36047  226388   22882
352207  2020-07-20  New York City  New York  36081  226388   22882
352207  2020-07-20  New York City  New York  36005  226388   22882
352207  2020-07-20  New York City  New York  36085  226388   22882
352207  2020-07-20  New York City  New York  36061   45277    4576
352207  2020-07-20  New York City  New York  36061   45277    4576
352207  2020-07-20  New York City  New York  36061   45277    4576
352207  2020-07-20  New York City  New York  36061   45277    4576
352207  2020-07-20  New York City  New York  36061   45277    4576
352207  2020-07-20  New York City  New York  36061   45277    4576
352207  2020-07-20  New York City  New York  36047   45277    4576
352207  2020-07-20  New York City  New York  36047   45277    4576
352207  2020-07-20  New York City  New York  36047   45277    4576
352207  2020-07-20  New York City  New York  36047   45277    4576
352207  2020-07-20  New York City  New York  36047   45277    4576
352207  2020-07-20  New York City  New York  36047   45277    4576
352207  2020-07-20  New York City  New York  36081   45277    4576
352207  2020-07-20  New York City  New York  36081   45277    4576
352207  2020-07-20  New York City  New York  36081   45277    4576
352207  2020-07-20  New York City  New York  36081   45277    4576
352207  2020-07-20  New York City  New York  36081   45277    4576
352207  2020-07-20  New York City  New York  36081   45277    4576
352207  2020-07-20  New York City  New York  36005   45277    4576
352207  2020-07-20  New York City  New York  36005   45277    4576
352207  2020-07-20  New York City  New York  36005   45277    4576
352207  2020-07-20  New York City  New York  36005   45277    4576
352207  2020-07-20  New York City  New York  36005   45277    4576
352207  2020-07-20  New York City  New York  36005   45277    4576
352207  2020-07-20  New York City  New York  36085   45277    4576
352207  2020-07-20  New York City  New York  36085   45277    4576
352207  2020-07-20  New York City  New York  36085   45277    4576
352207  2020-07-20  New York City  New York  36085   45277    4576
352207  2020-07-20  New York City  New York  36085   45277    4576
352207  2020-07-20  New York City  New York  36085   45277    4576

In [38]:
county_data[county_data.fips.isna()][county_data.county == "Unknown"].head()

/Users/matthewhwang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

           date   county         state fips  cases  deaths
418  2020-03-01  Unknown  Rhode Island  NaN      2       0
450  2020-03-02  Unknown  Rhode Island  NaN      2       0
485  2020-03-03  Unknown  Rhode Island  NaN      2       0
522  2020-03-04  Unknown  Rhode Island  NaN      2       0
569  2020-03-05  Unknown  Rhode Island  NaN      2       0

In [11]:
fips = pd.DataFrame(counties['features'])

In [12]:
len(fips.id)

3221

In [14]:
county_data.fips.nunique()

3176

In [15]:
3221-3176

45

In [123]:
# CALCULATED VALUES

latestDate = county_data.date.max()
latest_dt = datetime.strptime(latestDate, '%Y-%m-%d')
days_since_outbreak = (latest_dt - datetime.strptime('2019-12-31', '%Y-%m-%d')).days
days_since_USA = (latest_dt - datetime.strptime('2020-01-21', '%Y-%m-%d')).days
day_prior = datetime.strftime((latest_dt - timedelta(days=1)),'%Y-%m-%d')
two_prior = datetime.strftime((latest_dt - timedelta(days=2)),'%Y-%m-%d')

confirmed_cases = county_data.query("date=={}".format("'" + latestDate + "'")).cases.sum()
cases_day_prior = county_data.query("date=={}".format("'" + day_prior + "'")).cases.sum()
cases_two_prior = county_data.query("date=={}".format("'" + two_prior + "'")).cases.sum()

case_rate = (confirmed_cases - cases_day_prior) / cases_day_prior
case_prior_rate = (cases_day_prior - cases_two_prior) / cases_two_prior
case_rate_delta = (case_rate - case_prior_rate) / case_prior_rate
if case_rate_delta < 0:
    case_rate_delta_s = '{:.2%}'.format(case_rate_delta)
else:
    case_rate_delta_s = '+ {:.2%}'.format(case_rate_delta)
    
case_delta = confirmed_cases - cases_day_prior
case_percent_diff = (case_delta) / cases_day_prior


confirmed_deaths = county_data.query("date=={}".format("'" + latestDate + "'")).deaths.sum()
death_day_prior = county_data.query("date=={}".format("'" + day_prior + "'")).deaths.sum()
death_two_prior = county_data.query("date=={}".format("'" + two_prior + "'")).deaths.sum()

death_rate = (confirmed_deaths - death_day_prior) / death_day_prior
death_prior_rate = (death_day_prior - death_two_prior) / death_two_prior
death_rate_delta = (death_rate - death_prior_rate) / death_prior_rate
if death_rate_delta < 0:
    death_rate_delta_s = '{:.2%}'.format(death_rate_delta)
else:
    death_rate_delta_s = '+ {:.2%}'.format(death_rate_delta)
    

death_delta = confirmed_deaths - death_day_prior
death_percent_diff = (death_delta) / death_day_prior

latest = county_data.query("date=={}".format("'" + latestDate + "'"))


total = state_data.groupby(state_data.date).sum()
difference = total.diff()
difference = difference.fillna(0)
difference.columns = ['case_increase','death_increase']
new = total.merge(difference, left_index=True, right_index=True)

In [96]:
latest

              date         county      state   fips   cases  deaths
350365  2020-07-20        Autauga    Alabama  01001     857      21
350366  2020-07-20        Baldwin    Alabama  01003    2013      15
350367  2020-07-20        Barbour    Alabama  01005     503       4
350368  2020-07-20           Bibb    Alabama  01007     279       2
350369  2020-07-20         Blount    Alabama  01009     507       1
350370  2020-07-20        Bullock    Alabama  01011     400      11
350371  2020-07-20         Butler    Alabama  01013     689      33
350372  2020-07-20        Calhoun    Alabama  01015     832       6
350373  2020-07-20       Chambers    Alabama  01017     767      33
350374  2020-07-20       Cherokee    Alabama  01019     179       7
350375  2020-07-20        Chilton    Alabama  01021     489       4
350376  2020-07-20        Choctaw    Alabama  01023     240      12
350377  2020-07-20         Clarke    Alabama  01025     391       7
350378  2020-07-20           Clay    Alabama  01027     125       2
350379  2020-07-20       Cleburne    Alabama  01029      80       1
350380  2020-07-20         Coffee    Alabama  01031     557       4
350381  2020-07-20        Colbert    Alabama  01033     767       9
350382  2020-07-20        Conecuh    Alabama  01035     294       9
350383  2020-07-20          Coosa    Alabama  01037      75       1
350384  2020-07-20      Covington    Alabama  01039     592      17
350385  2020-07-20       Crenshaw    Alabama  01041     176       3
350386  2020-07-20        Cullman    Alabama  01043     841       7
350387  2020-07-20           Dale    Alabama  01045     541       4
350388  2020-07-20         Dallas    Alabama  01047    1177      13
350389  2020-07-20         DeKalb    Alabama  01049    1338       7
350390  2020-07-20         Elmore    Alabama  01051    1305      27
350391  2020-07-20       Escambia    Alabama  01053     665      12
350392  2020-07-20         Etowah    Alabama  01055    1382      15
350393  2020-07-20        Fayette    Alabama  01057     125       5
350394  2020-07-20       Franklin    Alabama  01059    1032      16
...            ...            ...        ...    ...     ...     ...
353543  2020-07-20      Winnebago  Wisconsin  55139     864      14
353544  2020-07-20           Wood  Wisconsin  55141     135       1
353545  2020-07-20         Albany    Wyoming  56001      67       0
353546  2020-07-20       Big Horn    Wyoming  56003      31       0
353547  2020-07-20       Campbell    Wyoming  56005      96       0
353548  2020-07-20         Carbon    Wyoming  56007      35       1
353549  2020-07-20       Converse    Wyoming  56009      29       0
353550  2020-07-20          Crook    Wyoming  56011       9       0
353551  2020-07-20        Fremont    Wyoming  56013     426      10
353552  2020-07-20         Goshen    Wyoming  56015      11       0
353553  2020-07-20    Hot Springs    Wyoming  56017      15       0
353554  2020-07-20        Johnson    Wyoming  56019      22       1
353555  2020-07-20        Laramie    Wyoming  56021     383       3
353556  2020-07-20        Lincoln    Wyoming  56023      60       0
353557  2020-07-20        Natrona    Wyoming  56025     178       1
353558  2020-07-20       Niobrara    Wyoming  56027       2       0
353559  2020-07-20           Park    Wyoming  56029      89       0
353560  2020-07-20         Platte    Wyoming  56031       4       0
353561  2020-07-20       Sheridan    Wyoming  56033      40       0
353562  2020-07-20       Sublette    Wyoming  56035      17       0
353563  2020-07-20     Sweetwater    Wyoming  56037     181       2
353564  2020-07-20          Teton    Wyoming  56039     223       1
353565  2020-07-20          Uinta    Wyoming  56041     222       0
353566  2020-07-20       Washakie    Wyoming  56043      43       5
353567  2020-07-20         Weston    Wyoming  56045       4       0
352207  2020-07-20  New York City   New York  36061  226388   22882
352207  2020-07-20  New York City   New York  36047  226388   22882
352207  2020-07-20  New York City   New York  36081  226388   22882
352207  2020-07-20  New York City   New York  36005  226388   22882
352207  2020-07-20  New York City   New York  36085  226388   22882

[3208 rows x 6 columns]

In [18]:
latest.head()

              date   county    state   fips  cases  deaths
350365  2020-07-20  Autauga  Alabama  01001    857      21
350366  2020-07-20  Baldwin  Alabama  01003   2013      15
350367  2020-07-20  Barbour  Alabama  01005    503       4
350368  2020-07-20     Bibb  Alabama  01007    279       2
350369  2020-07-20   Blount  Alabama  01009    507       1

In [124]:


census = pd.read_csv('data/co-est2019-alldata.csv',encoding = 'latin-1',dtype={"STATE": str,"COUNTY":str})
census = census.query('COUNTY!="000"')
census["fips"] = census.STATE + census.COUNTY
pop = census[['POPESTIMATE2019']].copy()
pop.columns = ['Population']
pop.index = census.fips
county_pop = pop.to_dict()

In [125]:

county_data = county_data.merge(pop, how='outer',on='fips')

county_data['percent_pop'] = round(10*county_data.cases/county_data.Population,2)
latest2 = county_data.query("date=={}".format("'" + latestDate + "'"))
top = latest2.percent_pop.max()

In [126]:
nyc = latest2[latest2.county == "New York City"]

In [130]:
county_data.fips

0         53061
1         53061
2         53061
3         53061
4         53061
5         53061
6         53061
7         53061
8         53061
9         53061
10        53061
11        53061
12        53061
13        53061
14        53061
15        53061
16        53061
17        53061
18        53061
19        53061
20        53061
21        53061
22        53061
23        53061
24        53061
25        53061
26        53061
27        53061
28        53061
29        53061
          ...
354297    30077
354298    30079
354299    31005
354300    31009
354301    31017
354302    31075
354303    31085
354304    31103
354305    31113
354306    31115
354307    31183
354308    32009
354309    35011
354310    36005
354311    36047
354312    36061
354313    36081
354314    36085
354315    38001
354316    41069
354317    46063
354318    46107
354319    48033
354320    48269
354321    48301
354322    48431
354323    49009
354324    49055
354325    51690
354326    54017
Name: fips, Length: 354327, dtype: object

In [46]:
burroughs = ['New York', 'Kings', 'Queens', 'Bronx', 'Richmond']

In [71]:
burrs = [36061, 36047, 36081, 36005, 36085]
nyc_pop = 8400000

In [72]:
for i,each in enumerate(burrs):
    extra = [each, nyc_pop, '2020-07-20','New York City','New York',226388,22882,0]
    latest2.loc[len(latest2)+i] = [i] + extra

ValueError: cannot set a row with mismatched columns

In [62]:
extra

[36085, 8400000, '2020-07-20', 'New York City', 'New York', 226388, 22882, 0]

In [63]:
latest2[latest2.fips == 36061]

Empty DataFrame
Columns: [0, Population, cases, county, date, deaths, fips, percent_pop, state, 1, 2, 3, 4, 5, 6, 7]
Index: []

In [103]:
a = {1:'a'}

In [104]:
a[1]

'a'